<?xml version="1.0"?>

<launch>
    
    <node pkg="multi_pc2_comb" type="multi_pc2_comb_node" name="multi_pc2_comb_node" output="screen">
        
        <param name="sub_topic_name_1" value="/ls_left/lslidar_point_cloud"/>
        <param name="sub_topic_name_2" value="/ls_right/lslidar_point_cloud"/>
        <param name="pub_topic_name" value="/lslidar_combined"/>
        <param name="frame_name" value="ls_comb"/>
        
        <param name="alpha_1" value="-90"/>
        <param name="beta_1" value="-45"/>
        <param name="gamma_1" value="0"/>
        <param name="offset_x_1" value="0"/>
        <param name="offset_y_1" value="0.45"/>
        <param name="offset_z_1" value="-0.2"/>
        
        <param name="alpha_2" value="90"/>
        <param name="beta_2" value="-45"/>
        <param name="gamma_2" value="0"/>
        <param name="offset_x_2" value="0"/>
        <param name="offset_y_2" value="-0.45"/>
        <param name="offset_z_2" value="-0.2"/>
        
        <param name="show_points_size" value="true"/>
        
    </node>

</launch>
